alembic
astroid
asttokens
backcall
click
colorama
debugpy
decorator
dill
entrypoints
executing
Flask
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
greenlet
gunicorn
ipykernel
ipython
isort
itsdangerous
jedi
Jinja2
jotform
jupyter-core
jupyter_client
lazy-object-proxy
Mako
MarkupSafe
matplotlib-inline
mccabe
nest-asyncio
packaging
parso
pickleshare
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
pylint
pyparsing
python-dateutil
python-dotenv
pyzmq
six
SQLAlchemy
stack-data
tomli
tomlkit
tornado
traitlets
wcwidth
Werkzeug
wrapt